<template>
  <div class="card hovercard">
  <div class="cardheader"></div>
  <div class="avatar">
    <img alt="" src="https://pbs.twimg.com/profile_images/695012485057806337/pOj3sLPD_400x400.jpg">
  </div>
  <div class="info">
    <div class="title">
      Taylor Edginton
    </div>
    <div class="desc">Knows the web</div>
    <div class="desc">Analytics</div>
    <div class="desc">Marketing extrodinaire</div>
  </div>
  <div class="bottom">
    <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
        <i class="fa fa-twitter"></i>
    </a>
    <a class="btn btn-danger btn-sm" rel="publisher"
       href="https://plus.google.com/+ahmshahnuralam">
        <i class="fa fa-google-plus"></i>
    </a>
    <a class="btn btn-primary btn-sm" rel="publisher"
       href="https://plus.google.com/shahnuralam">
        <i class="fa fa-facebook"></i>
    </a>
    <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
        <i class="fa fa-behance"></i>
    </a>
  </div>
</div>
</template>
<script>
  export default {

  }
</script>